<p>Hola <%= @resource.email %>!</p>

<p>Fuiste invitado a <%= root_url %>, puedes aceptar la invitaci칩n haciendo clic en el siguiente enlace.</p>

<p><%= link_to 'Aceptar invitaci칩n', accept_invitation_url(@resource, invitation_token: @resource.invitation_token) %></p>

<p>
  Si no deseas hacerlo, por favor ignora este email.<br />
  Tu cuenta no ser치 creada hasta que hagas clic en el enlace anterior e crees tu contrase침a.
</p>
