<p>Hola <%= @resource.email %>!</p>

<p>Alguien a requerido un cambio de contrase침a. Lo puedes hacer mediante el siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si tu no pediste esto, por favor ignora este email.</p>
<p>Tu contrase침a no cambiar치 hasta que hagas clic en el enlace de arriba e ingreses una nueva.</p>
