= link_to '<i class="iconfa-pencil"></i>'.html_safe, edit_resource_path(row), class: "btn btn-primary btn-circle"
|  
= link_to '<i class="iconfa-trash"></i>'.html_safe, resource_path(row), class: "btn btn-danger btn-circle", method: :delete, confirm: "Are you sure?"
