<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta fue bloqueada debido a un número excesivo de intentos de ingresos fallidos.</p>

<p>Clic en el siguiente enlace para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
